:root {
  --main-text: #424242;
  --main-bg: #f4f4f4;

  --light: #faf9f9;

  --dark-xxl: #424242;
  --dark-xl: #595959;
  --dark-l: #7f7f7f;
  --dark-m: #a5a5a5;
  --dark-s: #cccccc;

  --primary: #ccf654;
}
