:root {
  --main-text: #141414;
  --main-bg: #f0f0f0;

  --light: #faf9f9;
  --dark-xxl: #595959;
  --dark-xl: #7f7f7f;
  --dark-l: #a5a5a5;
  --dark-m: #cccccc;
  --dark-s: #f2f2f2;

  --primary: #358f80;
  --primary-l: #56ab91;
  --primary-s: #88d4ab;
  --pink: #ffd6ba;
}
