@use './app/styles/mixins.scss' as *;

.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--light);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.9rem 0.2rem var(--dark-s);
  width: 30%;
  min-width: 30rem;
  cursor: zoom-in;

  @include media-laptop {
    width: 40%;
  }

  @include media-tablet {
    width: 80%;
  }
}

.img {
  height: 30rem;
  width: 100%;
  border-radius: 0.5rem;
  align-self: center;
  object-fit: cover;
}

.title {
  padding: 1rem 0 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
  color: var(--dark-xxl);
  word-break: break-all;
  min-height: 2rem;
}

.subtitle {
  font-size: 1.4rem;
  color: var(--dark-l);
  word-break: break-all;
  min-height: 1rem;
  margin-top: 0;
}
