.header {
  background-color: var(--dark-m);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.logo {
  font-size: 1.8rem;
  color: var(--dark-xxl);
  padding-left: 2rem;
}
