.section {
  padding: 8rem 0 1rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 120rem;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding-bottom: 4rem;
}
